---
layout: default
title: LIVCD Suhaas Srinvas
meta-title: LivCode
meta-description: Let's code, learn, collabrate, ship.
meta-image: /images/favicon.png
---

<div class="jumbotron">
  <h1>LivCode</h1>

  <p>Code 👨‍💻  | Learn 📖 | Collabrate 👥  | Ship 🚀 and 🔁</p>
  <p>Hola 👋  </p>

</div>
<hr>

<h2> <i class="fa fa-code"></i> Projects </h2>

Some of the open source projects
<div class="thumbnail-link-container">
  {% include url-thumbnail.html url="/projects/refugee-rescue" %}
  {% include url-thumbnail.html url="/projects/hosto" %}
  {% include url-thumbnail.html url="/projects/dear-shelly" %}
</div>

<p><a href="/projects/">Check out all of the projects here!</a></p>

<hr>

<h2><i class="fa fa-rss"></i> Blog </h2>

Some of the blogs that I am writing
<div class="thumbnail-link-container">
  {% include url-thumbnail.html url="/blog/android-cast-sender" %}
  {% include url-thumbnail.html url="/blog/py-excel-sheet-collage" %}
  {% include url-thumbnail.html url="/blog/java-selenium" %}
</div>

<p><a href="/blog/">Check out all of the blogs here!</a></p>

<hr>

<h2><i class="fa fa-sticky-note"></i> Noteathon</h2>
On-going notes, learning activity that I am currently on
<div class="thumbnail-link-container">
{% include url-thumbnail.html url="/noteathon/dynamic-programming" %}
{% include url-thumbnail.html url="/noteathon/java-ds-algo" %}
</div>

<p><a href="/noteathon/">Check out all of the notes here!</a></p>

<hr>

<h2><i class="fa fa-random"></i> Random Noise</h2>
Intended for some audiophiles 🎧 and hobby guitarists 🎸 out there,
<div class="thumbnail-link-container">
  {% include url-thumbnail.html url="/randomnoise/guitar-journey" %}
</div>

<p><a href="/randomnoise/">Check out all of the random things here!</a></p>