---
layout: default
title: SUHAAS
meta-title: LivCode
meta-description: Let's code, learn, collabrate, ship.
meta-image: /images/favicon.png
---

<div class="jumbotron">
  <h1>LivCode</h1>

  <p>Code 👨‍💻  | Learn 📖 | Collabrate 👥  | Ship 🚀 and 🔁</p>
  <p>Hola 👋  </p>

</div>
<hr>

<h2>Projects</h2>

Some of the open source projects that I was working on.
<div class="thumbnail-link-container">
  {% include url-thumbnail.html url="/projects/hosto" %}
  {% include url-thumbnail.html url="/projects/server-client-chat" %}
  {% include url-thumbnail.html url="/projects/refugee-rescue" %}
</div>

<p><a href="/projects/">Check out all of the projects here!</a></p>

<hr>

<h2>Noteathon</h2>

Some of the on-going notes, learning activity that I am going on
<div class="thumbnail-link-container">
  {% include url-thumbnail.html url="/noteathon/agile-software-methodology" %}
  {% include url-thumbnail.html url="/noteathon/java-ds-algo" %}
</div>

<p><a href="/noteathon/">Check out all of the notes here!</a></p>

<hr>

<h2>About me ?</h2>

<hr>
