<div id="left-nav">
  <ul>
    <li>
    <li class="left-nav-section">
      {% include left-nav-link.html url="/projects/" %}
      {% include left-nav-section.html
      posts=site.categories.projects subsection="projects" %}
    </li>
    </li>
    <li>
      <hr>
    </li>
    <li class="left-nav-section">
      {% include left-nav-link.html url="/blog/" %}
      {% include left-nav-section.html
      posts=site.categories.blog subsection="blog" %}
    </li>
    <li>
      <hr>
    </li>
    <li class="left-nav-section">
      {% include left-nav-link.html url="/noteathon/" %}
      {% include left-nav-section.html
      posts=site.categories.noteathon subsection="noteathon" %}
    </li>
    <li>
      <hr>
    </li>
    <li class="left-nav-section">
      {% include left-nav-link.html url="/randomnoise/" %}
      {% include left-nav-section.html
      posts=site.categories.randomnoise subsection="randomnoise" %}
    </li>
    <li>
      <hr>
    </li>
    <li><a href="/forum/">Forum</a></li>
  </ul>

  <hr>
  <div class="left-nav-social-icons">
    <div style="flex-basis: 100%"></div>
    <a href="https://github.com/suhaas-livcd">
      <span style="font-size: 2em;">
        <i class="fab fa-github"></i>
      </span></a>
    <a href="https://www.linkedin.com/in/suhaassrinivas/">
      <span style="font-size: 2em;">
        <i class="fab fa-linkedin"></i>
      </span></a>
  </div>
</div>