    <div id="left-nav">
      <ul>
        <li>
          {% include left-nav-link.html url="/tutorials/" %}
          <ul>
            <li class="left-nav-section">
              {% include left-nav-link.html url="/tutorials/java/" %}
              {% include left-nav-section.html
                posts=site.categories.java subsection="tutorials" %}
              </li>

          </ul>
        </li>
        <li><hr></li>
        
        <li><a href="https://forum.happycoding.io">Forum</a></li>
      </ul>

      <hr>
      <div class="left-nav-social-icons">
        <a href="https://twitter.com/KevinAWorkman">
          <img class="nav-img" src="/images/twitter.png" alt="twitter"/></a>
        <a href="https://www.facebook.com/HappyCoding.io/">
          <img class="nav-img" src="/images/facebook.png" alt="facebook" /></a>
        <a href="https://github.com/KevinWorkman/HappyCoding">
          <img class="nav-img" src="/images/GitHub-Mark-32px.png" alt="github" /></a>
        <div style="flex-basis: 100%"></div>
        <a href="https://www.etsy.com/shop/HappyCoding">
          <img class="nav-img" src="/images/etsy.png" alt="etsy" /></a>
        <a href="https://youtube.com/kevinaworkman">
          <img class="nav-img" src="/images/youtube.png" alt="youtube" /></a>	
      </div>
    </div>