<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {%- if page.title == site.name %}
  <title>{{ site.name }}</title>
  {%- else -%}
  <title>{{ page.title }} - {{ site.name }}</title>
  {%- endif %}

  {% include meta.html %}

  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/alerts.css">
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>

  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>

  <script src="/js/modernizr-transitions.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>
  
  <div class="container">
    {% assign current = page.url | downcase | split: '/' %}
    <nav>
      <a class="navbar-home random-color" href="/">{{ site.name }}</a>
      <div class="nav-links">
        <a class="nav-link random-color {% if current[1] == 'projects' %}current{% endif %}" href="/projects/">Projects</a>
        <a class="nav-link random-color {% if current[1] == 'blog' %}current{% endif %}" href="/blog/">Blog</a>
        <!-- <a class="nav-link random-color" href="/noteathon/">Noteathon</a> -->
        <a class="nav-link random-color {% if current[1] == 'randomnoise' %}current{% endif %}" href="/randomnoise/">RandomNoise</a>
        <a class="nav-link random-color {% if current[1] == 'about' %}current{% endif %}" href="/about/">About</a>
        <a id="social-nav-link" href="https://github.com/suhaas-livcd/suhaas-livcd.github.io">
          <span style="font-size: 2em;">
            <i id="social-nav-img"><i class="fab fa-github"></i></i>
          </span>
        </a>
      </div>
    </nav>

    <div class="left-nav-and-content">
      {% include left-nav.html %}

      <div class="content">

      <div markdown="span" class="alert alert-warning" role="alert"><i class="fa fa-info-circle"></i>
        <b>Important:</b> Site-Update IN-PROGRESS (Moving all to markdown format), page content might be found broken as they might not have yet ported ETC:31/08/2021</div>
        {%- assign breadcrumb = page.url | split: '/' -%}
        {%- unless breadcrumb.size
        < 3 %} {% assign breadcrumbUrl="" -%} {%- for section in breadcrumb -%} {%- unless section=="" -%} {%- assign
          breadcrumbUrl=breadcrumbUrl | append: "/" | append: section %} {% include post-url.html url=breadcrumbUrl -%}
          {%- unless forloop.last %} / {% endunless -%} {%- endunless -%} {%- endfor %} <hr />
        {%- endunless -%}

        {% include previous-next-links.html %}

        {{ content }}

        {% include previous-next-links.html bottom=true %}

      </div> <!-- end content -->
    </div> <!-- end left-nav-and-content -->

    <footer>

      <a href="https://github.com/suhaas-livcd">
        <span style="font-size: 2em;">
          <i class="fab fa-github"></i>
        </span></a>
      <a href="https://www.linkedin.com/in/suhaassrinivas/">
        <span style="font-size: 2em;">
          <i class="fab fa-linkedin"></i>
        </span></a>

      <p><a href="https://suhaas-livcd.github.io">LivCode</a> is on
        <a href="https://github.com/suhaas-livcd/suhaas-livcd.github.io">GitHub</a>.
        Please don't hesitate to
        <a href="/about/contact.html">contact me</a>!
      </p>
      <p>Any Q&A's ? Let's discuss on
        <a href="/forum/">LivCode discord</a> or <a href="https://github.com/suhaas-livcd/suhaas-livcd.github.io/discussions">GHUB Discussion</a>
      </p>
      <p><a href="/license.html">LivCode license</a> -
        <a href="https://github.com/suhaas-livcd/suhaas-livcd.github.io/wiki/Contributing">
          Contribution guidelines </a> -
        <a href="https://github.com/suhaas-livcd/suhaas-livcd.github.io/blob/master/{{ page.path }}">
          View or edit this page's source on GitHub!</a>
      </p>
      <p id="background-link"></p>
    </footer>
  </div><!-- end container -->
  {% include analytics.html %}
</body>

</html>