<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  {%- if page.title == site.name %}
  <title>{{ site.name }}</title>
  {%- else -%}
  <title>{{ page.title }} - {{ site.name }}</title>
  {%- endif %}

  {% include meta.html %}

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
  <link rel="stylesheet" type="text/css" href="/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-auto-replace-svg="nest"></script>

  <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

  <script async src="//assets.codepen.io/assets/embed/ei.js"></script>
 
  <script src="/js/modernizr-transitions.js"></script>
  <script src="/js/main.js"></script>
</head>

<body>
  <div class="container">
    <nav>
      <a class="navbar-home random-color" href="/">{{ site.name }}</a>
      <div class="nav-links">
        <a class="nav-link random-color" href="/tutorials">Tutorials</a>
        <a class="nav-link random-color" href="/examples">Examples</a>
        <a class="nav-link random-color" href="/blog">Blog</a>
        <a class="nav-link random-color" href="/about">About</a>
        <a class="nav-link random-color" href="http://forum.HappyCoding.io">Forum</a>
        <a id="social-nav-link" href="https://twitter.com/KevinAWorkman">
          <span style="font-size: 2em;">
            <i id="social-nav-img"></i>
          </span>
        </a>
        <script>setRandomSocialLink();</script>
      </div>
    </nav>

    <div class="left-nav-and-content">
      {% include left-nav.html %}

      <div class="content">

        {%- assign breadcrumb = page.url | split: '/' -%}
        {%- unless breadcrumb.size
        < 3 %} {% assign breadcrumbUrl="" -%} {%- for section in breadcrumb -%} {%- unless section=="" -%} {%- assign
          breadcrumbUrl=breadcrumbUrl | append: "/" | append: section %} {% include post-url.html url=breadcrumbUrl -%}
          {%- unless forloop.last %} / {% endunless -%} {%- endunless -%} {%- endfor %} <hr />
        {%- endunless -%}

        {% include previous-next-links.html %}

        {{ content }}

        {% include previous-next-links.html bottom=true %}

      </div> <!-- end content -->
    </div> <!-- end left-nav-and-content -->

    <footer>

      <a href="https://github.com/suhaas-livcd">
        <span style="font-size: 2em;">
          <i class="fab fa-github"></i>
        </span></a>
      <a href="https://github.com/KevinWorkman/HappyCoding">
        <span style="font-size: 2em;">
          <i class="fab fa-linkedin"></i>
        </span></a>
      <a href="https://github.com/KevinWorkman/HappyCoding">
        <span style="font-size: 2em;">
          <i class="fab fa-youtube"></i>
        </span></a>

      <p><a href="http://HappyCoding.io">HappyCoding.io</a> is on
        <a href="https://github.com/suhaas-livcd">GitHub</a>.
        Please don't hesitate to
        <a href="/about/contact.html">contact me</a>!
      </p>
      <p>Question? Request? Just want to talk about coding? Come say hi on
        <a href="http://forum.happycoding.io/">forum.HappyCoding.io</a>!
      </p>
      <p><a href="/license.html">HappyCoding.io is open source.</a> -
        <a href="https://github.com/KevinWorkman/HappyCoding/wiki/Contributing">
          How to contribute?</a> -
        <a href="https://github.com/KevinWorkman/HappyCoding/blob/gh-pages/{{ page.path }}">
          View or edit this page's source on GitHub!</a>
      </p>
      <p id="background-link"></p>
    </footer>
  </div><!-- end container -->
  {% include analytics.html %}
</body>

</html>