<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}


  <body>


    {% include header.html %}


<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="text-primary">Hello there!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium corporis ipsam cumque rerum quas quia neque, dolor vitae laboriosam.</p>
      <i class="fas fa-thumbs-up fa-2x"></i>
    </div>
  </div>
</div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
      <h1 class="text-info">Hello there!</h1>
        {{ content }}
      </div>
    </main>

    {% include footer.html %}
    
  </body>

</html>
